.card{
    background-color: #EAFAFF;
    border: 2px solid #AED1EA;
    border-radius: 20px;
}

.cardWrapper{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 10px;
}

.cardImg{
    width: 250px;
    height: 180px;
    border-radius: 10px;
}

.cardInfoWrapper{
    width: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cardInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cardInfoNameSurname{
    display: flex;
    gap: 10px;
    font-weight: 600;
    flex-wrap: wrap;
}


.seeMoreInfo{
    color: #4386A9;
    text-decoration: underline;
    text-underline-offset: 5px;
    cursor: pointer;
}

@media (min-height: 844px) and (min-width: 390px) {
    .cardImg{
        width: 164px;
        height: 108px;
        border-radius: 10px;
    }

    .cardWrapper{
        gap: 15px;
    }
}