.LaptopList{
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.list{
    display: flex;
    gap: 50px;
    width: 1150px;
    flex-wrap: wrap;
}

.list>* {
    flex: 0 1 550px;
}
