.LaptopList{
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding-bottom: 40px;
}

.list-header{
    margin: 0;
}

.list{
    display: flex;
    gap: 50px;
    width: 1150px;
    flex-wrap: wrap;
}

.list>* {
    flex: 0 1 550px;
}

@media (max-height: 845px) and (max-width: 391px) {
    
    .LaptopList{
        gap: 0;
    }

    .arrow-ellipse{
        background-color: #fff;
        position: relative;
        top: 28px;
    }

    .list-header{
        margin: 0;
        padding-bottom: 25px;
    }

    .list{
        width: 90%;
    }

    .list>*{
        flex: 0 1 350px;
        justify-content: center;
        align-items: center;
    }
}
